/* stylelint-disable selector-list-comma-newline-after */

body{
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'Roboto', sans-serif;
}

#main{
  border: 1px solid black;
}

#hero{
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Russo One', sans-serif;
}
#hero-text{
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  color: #F1592A;
}
#hero-text span{
  color: #00AEEF;
}
#hero-date{
  background: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  color: #00AEEF;
}
#hero-date span{
  color: #39B54A;
}

.navbar{
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}
